{% extends 'layout.html' %} {% block title %}Your Trip{% endblock %} {% block content %}
<div id="app" class="clearfix">
	<div class="map-container col-sm-8 col-lg-9">
		<div>
			<div id="map-canvas"></div>
		</div>
	</div>
	<div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
		<div class="col-xs-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body" id="options-panel">
					<div>
						<h4>Hotels</h4>
						<select data-type="hotel" id="hotel-choices">
            </select>
						<button id="add-hotel" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
					</div>
					<div>
						<h4>Restaurants</h4>
						<select data-type="restaurant" id="restaurant-choices">
            </select>
						<button id="add-restaurant" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
					</div>
					<div>
						<h4>Activities</h4>
						<select data-type="activity" id="activity-choices">
            </select>
						<button id="add-activity" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-12">
			<h3>
				<span id="day-title">
          <span>Day 1</span>
				<button class="btn btn-xs btn-danger remove btn-circle">x</button>
				</span>
			</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="day-buttons">
						<button class="btn btn-circle day-btn current-day">1</button>
						<!--<button class="btn btn-circle day-btn ">2</button>
						<button class="btn btn-circle day-btn">3</button>-->
						<button class="btn btn-circle day-btn" id="day-add">+</button>
					</div>
				</div>
				<div class="panel-body" id="itinerary">
					<div>
						<h4>My Hotel</h4>
						<ul id="current-day-hotels" class="list-group hotel">
						</ul>
					</div>
					<div>
						<h4>My Restaurants</h4>
						<ul id="current-day-restaurants" class="list-group restaurant">
						</ul>
					</div>
					<div>
						<h4>My Activities</h4>
						<ul id="current-day-activities" class="list-group activity">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  for (let i = 0; i < hotels.length; i++){
    $('#hotel-choices').append(`<option data-location="${hotels[i].place.location}">${hotels[i].name}</option>`)
  };
  for (let i = 0; i < restaurants.length; i++){
    $('#restaurant-choices').append(`<option data-location="${restaurants[i].place.location}">${restaurants[i].name}</option>`)
  };
   for (let i = 0; i < activities.length; i++){
    $('#activity-choices').append(`<option data-location="${activities[i].place.location}">${activities[i].name}</option>`)
  };

  let markerObj = {};
  let days = [{}];
  let currentDay = 0;
  let dayText = 1;
  // let dayTextStr = dayText.toString();


  // add hotel, restaurant, activity
    $('#options-panel button').on('click', function(){
      let selector = $(this).prev();

      let selectedText = $(this).prev().val();

      let selectedElement = $(`#${selector[0].id} option:selected`);
      var locationarray = selectedElement[0].dataset.location.split(",");

      let categoryid = this.id.slice(4);
      // adding days, need to fix day incrementer
      if (days[currentDay][categoryid]) days[currentDay][categoryid].push(selectedText);
      else {
        days[currentDay][categoryid] = [];
        days[currentDay][categoryid].push(selectedText);
      }

      console.log(days[currentDay]);

      // adding marker, stored in markerObj
      let anotherMarker = setMarker(categoryid, locationarray);
      markerObj[selectedText] = anotherMarker;

      $(`.${categoryid}`).append(`<li>${selectedText}</li>`).append('<button class="btn btn-xs btn-danger remove btn-circle">x</button>').data("marker", anotherMarker);
    });

  // remove hotel, restaurant, activity
    $('#itinerary').on('click', '.remove', function() {
      let category = $(this).parent()[0].classList[1];
      let selectedText = $(this).prev()[0].innerText;
      // console.log('before', days[currentDay][category]);
      days[currentDay][category].splice(days[currentDay][category].indexOf(selectedText), 1);
      // console.log('after', days[currentDay][category]);
      let marker = markerObj[$(this).prev()[0].innerText];
      marker.setMap(null);
      $(this).prev().remove();
      $(this).remove();
    })

  // add day
    $('.day-buttons').on('click', '#day-add', function() {
      $('.day-buttons').children().removeClass('current-day');
      $(this).before(`<button class="btn btn-circle day-btn current-day">${dayText + 1}</button>`);
      $('#itinerary li, #itinerary button').remove();
      let markerKeyArray = Object.keys(markerObj);
      markerKeyArray.forEach(function(marker) {
        markerObj[marker].setMap(null);
      });
      days.push({});
      currentDay++;
      dayText++;
      $('#day-title > span').contents(`Day ${dayText}`);
    })

</script> {% endblock %}